<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../views/head') %>
    <link type="text/css" rel="stylesheet" href="/public/css/cooking.css">
    <title>Cooking</title>
</head>
<body>
    <div id="wrap">
       
        <!-- HEADER -->
        <%- include ('../views/header') %>
        <!-- //HEADER -->
       
        <!-- CONTENTS -->
        <div class="poster">
            <div class="sign_text">
                <div class="title">Cooking Class</div>
                <div class="text">
                    Macaron Tree와 함께하는 마카롱 만들기 원데이 클래스 <br>
                    함께 마카롱 구워보실래요?
                </div>
            </div>
        
            <img src="/public/images/cooking_class.jpg" alt="cooking class poster">
        </div>
        <!-- //CONTENTS -->
        
        <!-- Footer -->
        <%- include ('../views/footer') %>
        <!-- //Footer -->
    </div>
</body>
</html>