#wrap {
    width: 100%; 
    height: 100%; 
    position: relative; 
    display: flex; 
    flex-flow: column nowrap;
}

/* Banner */
#banner {
    width: 100%;
    height: 100%; /*384px*/
    display: block;
    position: relative;
    overflow: hidden;
}
#banner .img_box {
/*  width: 1920px;  1920*/
    width: auto;
    height: auto;
    display: block; 
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}
#banner img.landscape {
    width: auto;
}
#banner .main_center {
/*    max-width: 930px; 930*/
    width: auto;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
#banner #black {
/*    max-width: 1020px; 1020*/
    width: auto;
    display: block;
}

/* mobile size banner */
@media screen and (max-width:768px) {
    
    #banner .img_box {
        width: 100%;
        height: 140px;
    }
}

/* Contents */
#contents-main {
    width: 100%;
    display:flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}

/* Best 상품, Contest 후기 - flex 사용 */
#contents-main .contents-container {
    flex: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
}
#contents-main .contents-container .contents-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #004771;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#contents-main .contents-container .contents-group {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto 40px 80px;
}

.contents-group .contents-item {
    width:220px;
    margin:30px;
    cursor:pointer;
    text-align: center;
    display: block;
    position: relative;
}

.contents-item .contents-img {
    width:220px;
    height:220px;
    margin: auto;
}

.contents-item .contents-img img {
    width: 100%;
    height: 100%;
}

.contents-item .name-kor {
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
}

.contents-item .name-eng {
    font-size: 16px;
    color: #5f656b;
    letter-spacing: 1px;
}

.contents-item .contest-review {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    color: #5f656b;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    word-break: nowrap;
    text-align: left;
    margin-top: 2px;
}
