@charset "utf-8";

#table {
    display: grid;  
    width: 100%; 
    grid-template-columns: 60% 20% 20%; 
    /* border: 1px solid #ccc; */
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
    /* background-color: #ccc; */
}

.col 
{ 
    background-color: #e8e8e8; 
    font-weight: bolder; 
    vertical-align: middle; 
    padding-top: 13px;
}

#table > div {
    padding: 15px;
    /* background-color: #fff; */
    border-bottom: 1px solid #ccc;
    /* border-right: 1px solid #ccc; */
}
  


/* 테블릿 css */
@media all and (max-width:768px) {
       
}
